@model ApplicationUser

<div class="dropdown pt-8">
    <a class="dropdown-toggle dropdown-caret-none d-inline-block outline-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        <label class="avatar avatar-4xl status-online feed-avatar-profile cursor-pointer" for="upload-feed-porfile-picture">
            <img class="rounded-circle img-thumbnail shadow-sm" src="~/media/members/@Model.Image" width="200" alt="" />
        </label>
    </a>
    <div class="dropdown-menu avatar-dropdown-menu p-0 mt-3 overflow-hidden" style="width: 320px;">
        <div class="position-relative">
            <div class="bg-holder z-index--1" style="background-image:url(../../assets/img/bg/bg-32.png);background-size: auto;"></div>
            <!--/.bg-holder-->

            <div class="p-3">
                <div class="text-end">
                    <button class="btn p-0 me-2">
                        <span class="fa-solid fa-user-plus text-white light"></span>
                    </button>
                    <button class="btn p-0">
                        <span class="fa-solid fa-ellipsis text-white light"></span>
                    </button>
                </div>
                <div class="text-center">
                    <div class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2">
                        <img class="rounded-circle border border-white" src="~/media/members/@Model.Image" alt="" />
                    </div>
                    <h6 class="text-white light">@Model.FullName</h6>
                    <p class="text-600 fw-semi-bold fs--2 mb-2">@Model.UserName</p>
                    <div class="d-flex flex-center mb-3">
                        <h6 class="text-white light mb-0">224 <span class="fw-normal text-300">connections</span></h6><span class="fa-solid fa-circle text-700 mx-1" data-fa-transform="shrink-10 up-2"></span>
                        <h6 class="text-white light mb-0">23 <span class="fw-normal text-300">mutual</span></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white">
            <div class="p-3 border-bottom">
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2">
                            <span class="fa-solid fa-phone"></span>
                        </button>
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2">
                            <span class="fa-solid fa-message"></span>
                        </button>
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg">
                            <span class="fa-solid fa-video"></span>
                        </button>
                    </div>
                    <button class="btn btn-phoenix-primary">
                        <span class="fa-solid fa-envelope me-2"></span>Send Email
                    </button>
                </div>
            </div>
            <ul class="nav d-flex flex-column py-3 border-bottom">
                <li class="nav-item">
                    <a class="nav-link px-3 d-flex flex-between-center" href="#!"> 
                        <span class="me-2 text-900 d-inline-block" data-feather="clipboard"></span>
                        <span class="text-1000 flex-1">Assigned Projects</span>
                        <span class="fa-solid fa-chevron-right fs--3"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 d-flex flex-between-center" href="#!"> 
                        <span class="me-2 text-900" data-feather="pie-chart"></span>
                        <span class="text-1000 flex-1">View activiy</span>
                        <span class="fa-solid fa-chevron-right fs--3"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="p-3 d-flex justify-content-between">
            <a class="btn btn-link p-0 text-decoration-none" href="#!">Details </a>
            <a class="btn btn-link p-0 text-decoration-none text-danger" href="#!">Unassign </a>
        </div>
    </div>
</div>