@model Church
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Churches";
    Layout = "_RootLayout";
}

@section Stylesheets {
<!-- <link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet"> -->
}

<div class="content" style="margin-top: -60px;">
    <partial name="_Breadcrumbs" />
    <div class="row g-3 mb-9">
        <div class="col">
            <h1>@Model.Name</h1>
            <div>
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (Model.Members.Any(c => c.UserId == User.FindFirst(ClaimTypes.NameIdentifier)!.Value))
                    {
                        <a href="#!" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">
                            Join
                        </a>

                    }
                    else
                    {
                        <a asp-controller="Churches" asp-action="Join" asp-route-id="@Model.Id" class="btn btn-primary">
                            Join
                        </a>
                    }
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" class="btn btn-primary" role="button">
                        Join
                    </a>
                }
            </div>
        </div>
    </div>
    <partial name="_Footer" />
</div>

@section VendorScripts {
<!-- <script src="~/vendors/echarts/echarts.min.js"></script> -->
}

@section CustomScripts {
<script src="~/js/churches.js"></script>
<script>
    $(document).ready(function () {});
</script>
}