@model Church
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Churches";
    Layout = "_RootLayout";
}

@section Stylesheets {
<!-- <link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet"> -->
}

<div class="content" style="margin-top: -60px;">
    <div class="pb-10">
        <div class="row gy-3 gx-5 gx-xxl-6">
            <div class="col-lg-5 col-xl-4 d-none d-lg-block">
                @await Html.PartialAsync("Churches/_ChurchFeedSide")
            </div>
            <div class="col-lg-7 col-xl-8">
                <partial name="_Breadcrumbs" />
                <div class="row g-3 mb-9">
                    <div class="col">
                        <div>
                            <h3>Our Story</h3>
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Background))
                        </div>
                        <div>
                            <h3>Our Message</h3>
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Message))
                        </div>
                        <div>
                            <h3>Our Mission</h3>
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Mission))
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <partial name="_Footer" />
</div>

@section VendorScripts {
<!-- <script src="~/vendors/echarts/echarts.min.js"></script> -->
}

@section CustomScripts {
<script src="~/js/churches.js"></script>
<script>
    $(document).ready(function () {});
</script>
}