@model Belief

@{
    ViewData["Title"] = "Beliefs";
}

@section Stylesheets {
<!-- <link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet"> -->
}

<div class="content mb-5">
    <div class="card">
        <div class="card-header border-bottom-0 pb-0">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="card-title mb-0"> 
                            Belief
                        </h4>
                    </div>
                </div>
                <div class="">
                    <a class="btn btn-sm btn-phoenix-primary" role="button" asp-controller="ChurchManager" asp-action="Beliefs" asp-route-id="@(User.FindFirst("ChurchId")!.Value)">
                        <span class="fas fa-compass"></span> Beliefs
                    </a>
                </div>
            </div>
        </div>
        <div id="new-belief" class="card-body">
            <form method="post" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3 text-start">
                    <label class="form-label" asp-for="Title"></label>
                    <input class="form-control" asp-for="Title" placeholder="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label" asp-for="Details"></label>
                    <textarea class="form-control" asp-for="Details" placeholder="Details"></textarea>
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                <button class="btn btn-primary w-100 mb-3">Save</button>
            </form>
        </div>
        @* <div class="card-footer border-0">
            <p>Footer</p>
        </div> *@
    </div>   

    <partial name="_Footer" />
</div>

@section VendorScripts {
<!-- <script src="~/vendors/echarts/echarts.min.js"></script> -->
}

@section CustomScripts {
<!-- <script src="~/assets/js/project-details.js"></script> -->
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
    });
</script>
}