@model Group

@{
    ViewData["Title"] = "Groups";
}

@section Stylesheets {
}

<div class="content mb-5">
    @await Component.InvokeAsync("GroupEventTable", new { groupId = Model.Id })
    <partial name="_Footer" />
</div>

@section VendorScripts {
}

@section CustomScripts {
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
    });
</script>
}