@model Group

@{
    ViewData["Title"] = "Groups";
}

@section Stylesheets {
<!-- <link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet"> -->
}

<div class="content">
    <partial name="_Breadcrumbs" />
    <h2 class="text-bold text-1100 mb-5">Members</h2>
    @await Component.InvokeAsync("GroupMemberTable", new { groupId = Model.Id })
    <partial name="_Footer" />
</div>

@section VendorScripts {
<!-- <script src="~/vendors/echarts/echarts.min.js"></script> -->
}

@section CustomScripts {
<!-- <script src="~/assets/js/project-details.js"></script> -->
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
    });
</script>
}