.details-img {
  object-fit: cover; 
  max-height: 280px;
  min-height: 150px; 
  object-position: top;
}

input[name="MemberId"]:checked ~ .control-me {
  background-color: #3874ff;
  color: #fff;
}

.carmine {
  color: #930F1C;
}

.carmine-bg {
  background-color: rgb(147,15,28);
}