<div class="d-flex pb-4 border-bottom border-dashed border-300 align-items-end">
    <h3 class="flex-1 mb-0">Events</h3><a class="fw-bold fs--1" href="#!">See more</a>
</div>
<div class="py-3 border-bottom border-dashed">
    <div class="d-flex flex-between-center">
        <p class="text-warning fs--2 mb-0 fw-bold mb-1">MON, FEB 21- MARCH 23</p>
        <div class="btn-reveal-trigger">
            <button
                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none d-flex btn-reveal"
                type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                aria-expanded="false" data-bs-reference="parent">
                <span class="fas fa-ellipsis-h"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-end py-2">
                <a class="dropdown-item" href="#!">Edit</a>
                <a class="dropdown-item text-danger" href="#!">Delete</a>
                <a class="dropdown-item" href="#!">Download</a>
                <a class="dropdown-item" href="#!">Report abuse</a>
                </div>
        </div>
    </div><a class="hover-primary text-1000 fw-bold mb-2 line-clamp-1 me-5 lh-base" href="#!">Master
        Class on FILM Studies THESIS on Makers</a>
    <p class="text-800 fs--1 mb-2">Organized by <br /><a class="fw-bold text-primary"
            href="#!">IAFM- International Academy of Film and Media</a></p>
    <p class="fs--2 text-600">64 people going</p>
    <p class="fs--1 text-700 fw-bold mb-1"><span
            class="fa-solid fa-clock text-800 me-1"></span>12.30PM - 10PM</p>
    <p class="fs--1 text-700 fw-bold mb-0"><span
            class="fa-solid fa-map-marker-alt text-800 me-1"></span>Tavern on the Greend, New York
    </p>
</div>
<div class="py-3 border-bottom border-dashed">
    <div class="d-flex flex-between-center">
        <p class="text-warning fs--2 mb-0 fw-bold mb-1">MON, FEB 21- MARCH 23</p>
        <div class="btn-reveal-trigger">
            <button
                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none d-flex btn-reveal"
                type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                aria-expanded="false" data-bs-reference="parent"><span
                    class="fas fa-ellipsis-h"></span></button>
            <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item"
                    href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a><a
                    class="dropdown-item" href="#!">Download</a><a class="dropdown-item"
                    href="#!">Report abuse</a></div>
        </div>
    </div><a class="hover-primary text-1000 fw-bold mb-2 line-clamp-1 me-5 lh-base" href="#!">Master
        Class on FILM Studies 'ANALYSIS of Cinema'</a>
    <p class="text-800 fs--1 mb-2">Organized by <br /><a class="fw-bold text-primary"
            href="#!">IAFM- International Academy of Film and Media</a></p>
    <p class="fs--2 text-600">64 people going</p>
    <p class="fs--1 text-700 fw-bold mb-1"><span
            class="fa-solid fa-clock text-800 me-1"></span>12.30PM - 10PM</p>
    <p class="fs--1 text-700 fw-bold mb-0"><span
            class="fa-solid fa-map-marker-alt text-800 me-1"></span>Tavern on the Greend, New York
    </p>
</div>
<div class="py-3 border-bottom border-dashed">
    <div class="d-flex flex-between-center">
        <p class="text-warning fs--2 mb-0 fw-bold mb-1">MON, FEB 21- MARCH 23</p>
        <div class="btn-reveal-trigger">
            <button
                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none d-flex btn-reveal"
                type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                aria-expanded="false" data-bs-reference="parent"><span
                    class="fas fa-ellipsis-h"></span></button>
            <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item"
                    href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a><a
                    class="dropdown-item" href="#!">Download</a><a class="dropdown-item"
                    href="#!">Report abuse</a></div>
        </div>
    </div><a class="hover-primary text-1000 fw-bold mb-2 line-clamp-1 me-5 lh-base"
        href="#!">Witnessing History in Making Photographs</a>
    <p class="text-800 fs--1 mb-2">Organized by <br /><a class="fw-bold text-primary"
            href="#!">IAFM- International Academy of Film and Media</a></p>
    <p class="fs--2 text-600">64 people going</p>
    <p class="fs--1 text-700 fw-bold mb-1"><span
            class="fa-solid fa-clock text-800 me-1"></span>12.30PM - 10PM</p>
    <p class="fs--1 text-700 fw-bold mb-0"><span
            class="fa-solid fa-map-marker-alt text-800 me-1"></span>Tavern on the Greend, New York
    </p>
</div>