@model Church

<div class="card mb-5">
    <div class="card-header hover-actions-trigger position-relative mb-7" style="min-height: 130px; ">
        <div class="bg-holder rounded-top"
            style="background-image: linear-gradient(0deg, #000000 -3%, rgba(0, 0, 0, 0) 83%), url(/media/churches/@Model.Image)">
            <input class="d-none" id="upload-feed-cover-image" type="file" />
            <label class="cover-image-file-input" for="upload-feed-cover-image"></label>
            <div class="hover-actions end-0 bottom-0 pe-1 pb-2 text-white">
                <span class="fa-solid fa-camera me-2 overlay-icon"> </span>
            </div>
        </div>
        <input class="d-none" id="upload-feed-porfile-picture" type="file" />
        @await Component.InvokeAsync("ChurchLeaderAvatar", new { churchId = Model.Id })
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-wrap mb-3 align-items-center">
                    <h3 class="me-2">@Model.Name</h3>
                    @* <span class="fw-normal fs-0"> - @Model.Denomination!.Name</span> *@
                </div>
                <div class="mb-3">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="d-flex me-4 mb-2">
                            <span class="fa-solid fa-user-group fs--2 me-2 me-lg-1 me-xl-2"></span>
                            <h6 class="d-inline-block mb-0">1297 <span class="fw-semi-bold">Followers</span></h6>
                        </div>
                        <div class="d-flex mb-2">
                            <span class="fa-solid fa-user-check fs--2 me-2 me-lg-1 me-xl-2"></span>
                            <h6 class="d-block d-xl-inline-block mb-0">
                                3971 <span class="fw-semi-bold">Following</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <p class="fw-semi-bold mb-0">
                    Our Story
                    <a href="#!">
                        <span class="fa-solid fa-pencil fs--2 text-500 ms-3"></span>
                    </a>
                </p>
                <div class="text-700 mb-0">
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Background.Truncate(135)))
                </div>
                @await Html.PartialAsync("Churches/_ChurchJoinButton")
            </div>
        </div>
    </div>
</div>