@model ChurchMessageEditModel

<form asp-controller="ChurchManager" asp-action="Message" asp-route-id="@Model.Id"  method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <textarea asp-for="Message"></textarea>
    <input type="submit" value="Submit" class="my-3 btn btn-primary" />
</form>