@model Club

<div class="row g-0">
    <div class="col-6 border-1 border-bottom border-end py-2"> 
        <a class="btn btn-link ps-2 fs-0 text-800 hover-primary fw-semi-bold d-flex flex-column d-xxl-inline-block"
            href="#!">
            <span class="fa-solid fa-comments me-2 mb-2 mb-xxl-0"></span>Feed
        </a>
    </div>
    <div class="col-6 border-1 border-bottom py-2">
        <a class="btn btn-link fs-0 text-800 hover-primary fw-semi-bold d-flex flex-column d-xxl-inline-block"
            asp-controller="Churches" asp-action="Details" asp-route-id="@Model.Id">
            <span class="fa-solid fa-info me-2 mb-2 mb-xxl-0"></span>Details
        </a>
    </div>
    <div class="col-6 border-1 border-bottom border-end py-2">
        <a class="btn btn-link ps-2 fs-0 text-800 hover-primary fw-semi-bold d-flex flex-column d-xxl-inline-block"
            href="#!">
            <span class="fa-solid fa-user-group me-2 mb-2 mb-xxl-0"></span>Members
        </a>
    </div>
    <div class="col-6 border-1 border-bottom py-2">
        <a 
            class="btn btn-link fs-0 text-800 hover-primary fw-semi-bold d-flex flex-column d-xxl-inline-block"
            href="#!">
            <span class="fa-solid fa-hand-holding-heart me-2 mb-2 mb-xxl-0"></span>Donate
        </a>
    </div>
    <div class="col-6 border-1 border-end py-2">
        <a
            class="btn btn-link ps-2 fs-0 text-800 hover-primary fw-semi-bold d-flex flex-column d-xxl-inline-block"
            href="#!">
            <span class="fa-solid fa-calendar-days me-2 mb-2 mb-xxl-0"></span>Events
        </a>
    </div>
    <div class="col-6 border-1 py-2">
        <a
            class="btn btn-link fs-0 text-800 hover-primary fw-semi-bold d-flex flex-column d-xxl-inline-block"
            href="#!">
            <span class="fa-solid fa-photo-film me-2 mb-2 mb-xxl-0"></span>Media 
        </a>
    </div>
</div>