<div class="mb-8 mt-6">
    <div class="d-flex pb-4 align-items-end">
        <h3 class="flex-1 mb-0">Donors</h3>
        <a class="fw-bold fs--1 me-4" href="#!">Donate</a>
        <a class="fw-bold fs--1" href="#!">See all</a>
    </div>
    <div class="d-flex py-3 align-items-center border-bottom border-dashed">
        <div class="me-2">
            <div class="avatar avatar-m status-online ">
                <img class="rounded-circle " src="~/assets/img/team/35.webp" alt="" />

            </div>
        </div><a class="text-decoration-none flex-1" href="../../apps/chat.html">
            <h5>Stanly Drinkwater</h5>
            <p class="text-700 fw-semi-bold fs--1 mb-0 lh-sm line-clamp-1">When you gonna pay me
                back, don’t leave me hanging</p>
        </a>
    </div>
    <div class="d-flex py-3 align-items-center border-bottom border-dashed">
        <div class="me-2">
            <div class="avatar avatar-m status-online ">
                <img class="rounded-circle " src="~/assets/img/team/30.webp" alt="" />

            </div>
        </div><a class="text-decoration-none flex-1" href="../../apps/chat.html">
            <h5>Milind Mikuja</h5>
            <p class="text-700 fw-semi-bold fs--1 mb-0 lh-sm line-clamp-1">But the mare fact that
                she said that makes</p>
        </a>
    </div>
    <div class="d-flex py-3 align-items-center border-bottom border-dashed">
        <div class="me-2">
            <div class="avatar avatar-m status-online ">
                <img class="rounded-circle avatar-placeholder" src="~/assets/img/team/avatar.webp"
                    alt="" />

            </div>
        </div><a class="text-decoration-none flex-1" href="../../apps/chat.html">
            <h5>Josef Stravinsky</h5>
            <p class="text-700 fw-semi-bold fs--1 mb-0 lh-sm line-clamp-1">Oi Cult.</p>
        </a>
    </div>
    <div class="d-flex py-3 align-items-center border-bottom border-dashed">
        <div class="me-2">
            <div class="avatar avatar-m status-online ">
                <img class="rounded-circle " src="~/assets/img/team/59.webp" alt="" />

            </div>
        </div>
        <a class="text-decoration-none flex-1" href="../../apps/chat.html">
            <h5>Martina scorcese</h5>
            <p class="text-700 fw-semi-bold fs--1 mb-0 lh-sm line-clamp-1">Thanks for that.
                Sincerely.</p>
        </a>
    </div>
    <div class="d-flex py-3 align-items-center border-bottom border-dashed">
        <div class="me-2">
            <div class="avatar avatar-m status-online ">
                <img class="rounded-circle " src="~/assets/img/team/57.webp" alt="" />
            </div>
        </div>
        <a class="text-decoration-none flex-1" href="../../apps/chat.html">
            <h5>Meekona Zikon</h5>
            <p class="text-700 fw-semi-bold fs--1 mb-0 lh-sm line-clamp-1">I am Outside, Come here,
                Lets smoke...</p>
        </a>
    </div>
</div>