@{
    var profileImage = User.FindFirst("Image")!.Value;
    var firstInitial = User.FindFirst("FirstInitial")!.Value;
}

@if (string.IsNullOrEmpty(profileImage) || string.IsNullOrWhiteSpace(profileImage))
{
    <div class="avatar-name rounded-circle"><span>@firstInitial</span></div>
}
else
{
    <img class="rounded-circle" src="~/media/members/@profileImage" alt="" />
}