@model UserInputModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AccountLayout";
}

<div class="text-center mb-7">
    <h3 class="text-1000">Sign Up</h3>
    <p class="text-700">Create your account today</p>
</div>

<form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3 text-start">
        <label class="form-label" asp-for="FullName"></label>
        <input class="form-control" asp-for="FullName" placeholder="Full Name" aria-required="true" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="mb-3 text-start">
        <label class="form-label" asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName" placeholder="Full Name" aria-required="true" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3 text-start">
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" placeholder="name@example.com" aria-required="true" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3 text-start">
        <label class="form-label" asp-for="ImageUpload">Upload Profile Image</label>
        <input class="form-control" asp-for="ImageUpload" placeholder="Upload Image" aria-required="true" />
        <span asp-validation-for="ImageUpload" class="text-danger"></span>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-sm-6">
            <label class="form-label" asp-for="Password"></label>
            <input class="form-control" asp-for="Password" placeholder="Password" aria-required="true" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label class="form-label" asp-for="ConfirmPassword"></label>
            <input class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" aria-required="true" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" id="termsService" type="checkbox" />
        <label class="form-label fs--1 text-none" for="termsService">
            I accept the <a href="#!">terms </a>and <a href="#!">privacy policy</a>
        </label>
    </div>
    <button class="btn btn-primary w-100 mb-3">Sign up</button>
    <div class="text-center"><a class="fs--1 fw-bold" href="#!">Sign in to an existing account</a></div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

